<form action="/params/form" method="POST">
    <div>
        <label for="name">
            姓名
            <input id="name" name="name">
        </label>
    </div>
    <button type='submit'>提交</button>
</form>

<br>

<button id="fetch">ajax提交</button>
<script>
async function postData(url = "", data = {}) {
  const response = await fetch(url, {
    method: "POST", 
    headers: {
      "Content-Type": "application/json",
    },
    body: JSON.stringify(data), 
  });
  return response.json()
}

document.querySelector('#fetch').addEventListener('click', function() {
    postData("http://localhost:3000/params/body", { id: 42 }).then((data) => {
        console.log(data);
    })

})


</script>