<% if (typeof(err) !== 'undefined') { %> 
    <p style="color: red;"><%= err %></p>
<% } %> 

<form action="/user/login" method="post">
    <label for="name">
        <input type="text" name="name">
    </label>
    <label for="password">
        <input type="password" name="password">
    </label>
    <button>登录</button>
</form>